iOS/HUMAN_SDK_Demo/HUMAN_SDK_Demo.xcworkspace/xcuserdata
iOS/HUMAN_SDK_Demo/HUMAN_SDK_Demo.xcodeproj/xcuserdata
iOS/HUMAN_SDK_Demo/HUMAN_SDK_Demo.xcodeproj/project.xcworkspace/xcuserdata/
iOS/HUMAN_SDK_Demo/Pods
Android/HUMAN_SDK_Demo/*.iml
Android/HUMAN_SDK_Demo/.gradle
Android/HUMAN_SDK_Demo/local.properties
Android/HUMAN_SDK_Demo/.idea
Android/HUMAN_SDK_Demo/.DS_Store
Android/HUMAN_SDK_Demo/build
Android/HUMAN_SDK_Demo/captures
Android/HUMAN_SDK_Demo/.externalNativeBuild
Android/HUMAN_SDK_Demo/.cxx
Android/HUMAN_SDK_Demo/local.properties
Android/HUMAN_SDK_Demo/app/build
ReactNative/HUMAN_Demo/ios/HUMAN_Demo.xcworkspace/xcuserdata
ReactNative/HUMAN_Demo/ios/HUMAN_Demo.xcodeproj/xcuserdata
ReactNative/HUMAN_Demo/ios/HUMAN_Demo.xcodeproj/project.xcworkspace/xcuserdata/
ReactNative/HUMAN_Demo/ios/Pods
ReactNative/HUMAN_Demo/ios/build
ReactNative/HUMAN_Demo/android/.gradle
ReactNative/HUMAN_Demo/android/local.properties
ReactNative/HUMAN_Demo/android/.idea
ReactNative/HUMAN_Demo/android/app/build
ReactNative/HUMAN_Demo/android/app/libs
Flutter/build
Flutter/HUMAN_Demo/build
Flutter/HUMAN_Demo/ios/Pods
Flutter/HUMAN_Demo/ios/HUMAN_Demo.xcworkspace/xcuserdata
Flutter/HUMAN_Demo/ios/HUMAN_Demo.xcodeproj/xcuserdata
Flutter/HUMAN_Demo/ios/HUMAN_Demo.xcodeproj/project.xcworkspace/xcuserdata/
Flutter/HUMAN_Demo/android/.gradle
Flutter/HUMAN_Demo/android/local.properties
Flutter/HUMAN_Demo/android/.idea
Flutter/HUMAN_Demo/android/app/build
Flutter/HUMAN_Demo/android/app/libs
Ionic/MyApp/ios/App/build
Ionic/MyApp/ios/App/Pods
Ionic/MyApp/ios/App/App.xcworkspace/xcuserdata
Ionic/MyApp/ios/App/App.xcodeproj/xcuserdata
Ionic/MyApp/ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/
Ionic/MyApp/android/app/build
Ionic/MyApp/dist/
visionOS/HumanDemo/HumanDemo.xcodeproj/xcuserdata
visionOS/HumanDemo/HumanDemo.xcodeproj/project.xcworkspace/xcuserdata/
visionOS/HumanDemo/Packages
